{% extends 'base.html' %}

{% block page %}

    {% if not request.user.is_authenticated %}
        <div class="container h-100 d-flex align-items-center">

            <div class="w-50 ml-auto mr-auto">
                <ul class="nav nav-tabs" id="product" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                            SignIn
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="characteristics-tab" data-toggle="tab" href="#characteristics" role="tab" aria-controls="characteristics" aria-selected="false">
                            SignUp
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="product-content">
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        <form id="login" method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control" id="username"  placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="alert alert-danger d-none"></div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="characteristics" role="tabpanel" aria-labelledby="characteristics-tab">
                        <form id="register" method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="usernamereg">Username</label>
                                <input type="text" class="form-control" name="usernamereg" id="usernamereg" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" name="passwordreg" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="repeatpass">Repeat password</label>
                                <input type="password" name="password1" class="form-control" id="repeatpass" placeholder="Repeat password">
                            </div>
                            <div class="alert alert-danger d-none"></div>
                            <button form="register" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

                <section class="tabs" style="max-width: 500px">
                    <menu role="tablist" aria-label="Sample Tabs">
                        <button role="tab" aria-selected="true" aria-controls="tab-A">Tab A</button>
                        <button role="tab" aria-controls="tab-B">Tab B</button>
                    </menu>
                    <!-- the tab content -->
                    <article role="tabpanel" id="tab-A">
                        <h3>Tab Content</h3>
                        <p>
                            You create the tabs, you would use a <code>menu role="tablist"</code> element then for the tab titles you use a <code>button</code> with the <code>aria-controls</code> parameter set to match the relative <code>role="tabpanel"</code>'s element.
                        </p>
                        <p>
                            Read more at <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Tab_Role" target="_blank">MDN Web docs - ARIA: tab role</a>
                        </p>
                    </article>
                    <article role="tabpanel" hidden id="tab-B">
                        <h3>More...</h3>
                        <p>This tab contains a GroupBox</p>
                        <fieldset>
                            <legend>Today's mood</legend>
                            <div class="field-row">
                                <input id="radio10" type="radio" name="fieldset-example2">
                                <label for="radio10">Claire Saffitz</label>
                            </div>
                            <div class="field-row">
                                <input id="radio11" type="radio" name="fieldset-example2">
                                <label for="radio11">Brad Leone</label>
                            </div>
                            <div class="field-row">
                                <input id="radio12" type="radio" name="fieldset-example2">
                                <label for="radio12">Chris Morocco</label>
                            </div>
                            <div class="field-row">
                                <input id="radio13" type="radio" name="fieldset-example2">
                                <label for="radio13">Carla Lalli Music</label>
                            </div>
                        </fieldset>
                    </article>
                </section>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="w-100 text-right mt-5">
                <span class="mr-3">
                    hello, {{ request.user }}!
                </span>
                    <span>
                    <a href="/logout">Выйти</a>
                </span>
            </div>
            <div class="mt-5">
                <div class="row">
                    {% block content %}
                        {% for quiz in quizes %}
                            <div class="col-12 col-md-6">
                                <div class="quiz-card">
                                    <a href="test/{{ quiz.slug }}/">
                                        <div class="quiz-title p-2">
                                            {{ quiz.title }}
                                        </div>
                                        <div class="quiz-description text-center pt-3">
                                            {{ quiz.description }}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}